<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Demeter Parking</title>

    
    <link rel="stylesheet" type = "text/css" href="{% static 'css\materialize.min.css' %}">
	<link rel="stylesheet" type = "text/css" href="{% static 'css\main.css' %}">

    <script src="{% static 'js\jquery-3.4.1.min.js' %}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

	</head>

	<body>
        <div class="container">
            <div class="row">
                <h1 id="left_marg"><b>Home Page</b></h1>
            </div>
            <div class="card_container" id="lots_stuff">
                <div>
                    <h2>My Lots</h2>

                    <h3>Lot A</h3>
                    <h5>
                        2708 Randall Loop, Dublin, CA, 94568
                    <br />
                        $5 (full day)
                    <br />
                        Arrival @ 3:00 PM
                    <br />
                        Departure @ 6:45 PM
                    <br />
                        1/1 spaces booked
                    <br />
                        No special conditions
                    <br />
                    <br />
                        <a class="generallink">Renew</a> or <a class="generallink">Cancel</a>
                    </h5>

                    <h3>Lot B</h3>
                    <h5>
                        2709 Randall Loop, Dublin, CA, 94568
                    <br />
                        Arrival @ 3:00 PM
                    <br />
                        Departure @ 6:45 PM
                    <br />
                        1/2 spaces booked
                    <br />
                        Small Vehicles only
                    <br />
                    <br />
                        <a class="generallink">Renew</a> or <a class="generallink">Cancel</a>
                    </h5>
                </div>
            </div>

            <a class="waves-effect waves-light btn" href="search.html" id="bot_marg">New Lot</a>
        </div>

        <script src="js/materialize.min.js"></script>
	</body>

</html>
